/*tabs*/
/* Style the tab */

.block {
  display: block;
  width: 25%;
  text-align: center;
  font-size: 24px;
}

button{
    margin-left: auto;
  margin-right: auto;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  animation: fadeEffect 1s;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}


/*Background Image and text style for Homepage*/


.image {

 /* background-repeat: no-repeat;
  background-size: cover;*/
/*  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);*/

}

html {
  /*width: 100%;
  height: 100%;
  background-position:*/
  /*background-image: url(back.jpg) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  */


}
.text { 
/*color: #eeeeee;*/
/*color: black;
*/
font-weight: bold;
border: 3px solid #cccccc;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: 2;
width: 80%;
padding: 20px;
text-align: center;
}


body {
  font-family: "Arial";
  color: black;
}

.page-bg {
  /*background: url('../images/back.jpg');*/
  background: url('images/back.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}


/*Nav Help*/

header {
  overflow: hidden;
  /*background: #fff;*/
}

header a, header label {
  display: block;
  padding: 20px;
  color: #222;
  text-decoration: none;
  line-height: 20px;
}

header a:hover, header label:hover { color: #aaa; }

header label {
  float: right;
  padding: 18px 20px;
  cursor: pointer;
}

header label:after {
  content: "\2261";
  font-size: 1.8em;
}

.logo {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
}
  
nav {
  float: right;
  max-height: 0;
  width: 100%;
  -webkit-transition: max-height 0.3s; 
     -moz-transition: max-height 0.3s;
       -o-transition: max-height 0.3s;
          transition: max-height 0.3s;
}

nav ul {
  margin: 0;
  padding: 0;
   padding-bottom: 10px;
}
  
nav li {
  display: block;
  text-align: center;
}
  
nav a {
  padding: 10px;
  width: 100%;
}

#nav { display: none; }

#nav:checked ~ nav {
  max-height: 200px; /* This can be anything bigger than your nav height. The transition duration works with this */
}

@media only screen and (min-width: 700px) {
  
  header label { display: none; }
  
  nav {
    width: auto;
    max-height: none;
  }
  
  nav ul {
    padding: 0;
    padding-right: 10px;
  }
  
  nav li {
    display: inline-block;
    text-align: left;
  }
  
  header nav a {
    display: inline-block;
    padding: 20px 10px;
    width: auto;
  }
  
}

/*About page css code*/

.new-container{
   width: 960px; /* specify a width */
  height: 750px;
  
  margin: 0 auto;  /* centers the container */
  padding: 0 15px; /* adds some padding to the left and right*/
}

.container {
  /*background: white;*/
  display: flex;

}


.left-half {
 /* background-color: #ff9e2c;*/
  flex: 1;
  padding: 1rem;
}

.right-half {
  background-color: white;
  flex: 1;
  padding: 1rem;
}

.container img {

  height: 100%;
   width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.card {
  border: 1px solid #d3d3d3;
  border-radius: .25rem;
}

.bg-img {
  background-size: cover;
  min-height: 180px;
  background-position: center;
  background-color: #ccc;
}

.content {
  padding: 15px;
}

button {
  background-color: transparent;
  border: 1px solid #2196F3;
  padding: .5rem 1rem;
  cursor: pointer;
  border-radius: .25rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  padding-top: 50px;
}

.pill{
  border: none;
   color:#555555;
   padding: 5px 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 4px 2px ;
   word-wrap: break-word;
   /*cursor: pointer;*/
   font-size: 14px;
   border-radius: 32px;
   background-color: #e5e4e2;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.view:hover{
  background-color: #0070ff;
  color: white;

}